<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
</head>
<body>
    <p>Testing the login function:</p>
    <div>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
            <input type="submit" value="Login">
        </form>
    </div>
    <p>{{ error }}</p>

</body>
</html>